<a href="https://colab.research.google.com/github/abdeljalilHajjaj/PandasTraining/blob/main/Villo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Analyse des donn√©es Villo***

# ***Load data from Api***

In [137]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import requests

In [138]:
url = 'https://api.jcdecaux.com/vls/v1/stations?contract=Bruxelles-Capitale&apiKey=a592d7692b967ef848b6e94bdd7dba5946f9b633'

r = requests.get(url)
json = r.json()

In [139]:
dt = pd.DataFrame(json)

# process data transformation

In [140]:
dt = dt.rename(columns={'contract_name' : 'city'})
# dt.position.shape
dt[['lat','long']] =dt.position.astype('str').str.split(',',n=1,expand=True)
dt.lat = dt.lat.astype('str').str.extract(r'(\d+.\d+)')
dt.long = dt.long.astype('str').str.extract(r'(\d+.\d+)')

Transfrom timestamp to date_time for last_update col

In [176]:
dt.last_update =  dt.last_update.astype('str').str[:-3]
dt.last_update = pd.to_datetime(dt.last_update,unit='s')

In [182]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   number                 343 non-null    int64
 1   city                   343 non-null    object
 2   name                   343 non-null    object
 3   address                343 non-null    object
 4   position               343 non-null    object
 5   banking                343 non-null    bool
 6   bonus                  343 non-null    bool
 7   bike_stands            343 non-null    int64
 8   available_bike_stands  343 non-null    int64
 9   available_bikes        343 non-null    int64
 10  status                 343 non-null    object
 11  last_update            343 non-null    datetime64[ns]
 12  lat                    343 non-null    object
 13  long                   343 non-null    object
dtypes: bool(2), datetime64[ns](1), int64(4), object(7)
memory usage: 33.0+ KB